*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
}


.header-section{
    background-color: #1F2937;
    min-height: 75vh;
    display: flex;
    flex-direction: column;
    gap: 110px;
}

.nav-bar{
    display: flex;
    justify-content: space-between;
    padding: 15px;
    align-items: center;
    flex-shrink: 0;
    flex-grow: 0;
    margin: 0 20px;
}

.nav-bar ul{
    display: flex;
    gap: 15px;
    list-style: none;
}

.nav-bar a{
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
}


.logo-container h2{
    font-size: 24px;
    color: #F9FAF8;
}


.header-main{
    display: flex;
    gap: 10px;
    align-self: center;
    gap: 30px;
}


.btn-header{
    background-color: #3882F6;
    color: white;
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
    margin-top: 10px;
}
.header-main-title{
    width: 400px;
}

.header-main h1{
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}

.header-main p{
    color: #E5E7EB;
    font-size: 18px;
}

.title-img-container img{
    width: 350px;
}

img{
    max-width: 100%;
    height: auto;
}



/* Random info section */

.random-info{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 70vh;
    gap: 20px;
}


.random-info .img-container img{
    width: 150px;
    border: 5px #3882F6 solid; 
    border-radius: 5px;
}

.random-info .card:nth-child(4) .img-container{
    width: 100px;
    height: 150px;
    transform: rotate(90deg);
    margin-top: -15px;
}



.cards{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.card{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    max-width: 150px;
    gap: 10px;
    text-align: center;
}

.card:nth-child(4){
    gap: 0;
    margin-top: -40;
    
}

.section-title.info{
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
}


/* Quote section */

.section-quote{
    background-color: #E5E7EB;
    min-height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.quote{
    max-width: 600px;
    display: flex;
    flex-direction: column;
}

.section-quote q{
    font-size: 36px;
    font-family: Italic;
    font-weight: lighter;
}

.author{
    align-self: flex-end;
    font-size: 20px;
}